@font-face {
    font-family: 'OpenSansRegular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'digital7';
    src: url(../fonts/digital-7.ttf);
}

@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster-Regular.ttf);
}