footer {
    @extend %display-flex-cc;
    background: $base-color;
    padding: 30px;
    font-size: $font-size-2;
    font-family: $font-family-2;
    text-align: center;
    position: relative;

    .pill {
        padding: 8px 12px;
        background: whitesmoke;
        border-radius: 30px;
        color: $color-1;
    }
    
    @include responsive(mobile) {
        padding: 30px 50px;
    }
}