*, body {
	margin:0%;
	padding:0%;
	font-family: Open Sans;
}

body {
	background-color: #eeeeee;
	scroll-behavior: smooth;
}

nav {
	position: fixed;;
	margin-top:-0.4%;
	width: 100%;
	height: 60px;
	background-color:#cccccc;
	z-index: 9999999999;

	-webkit-box-shadow: 0px 20px 100px 7px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 20px 100px 7px rgba(0,0,0,0.2);
	box-shadow: 0px 20px 100px 7px rgba(0,0,0,0.2);
}

footer {
	margin-top:1%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	width:auto;
	height:40px;
	background-color: #cccccc;

	-webkit-box-shadow: 0px -20px 100px 7px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px -20px 100px 7px rgba(0,0,0,0.2);
	box-shadow: 0px -20px 100px 7px rgba(0,0,0,0.2);
}

#iconLogo {
	margin-left: 2.5%;
	margin-top:-0.2%;
	width:100px;
	float:left;
}

#mainLogo {
	width:70%;
}

#github {
	margin-top:-5% !important;
	width: 80% !important;
	filter: invert(100%);

	-webkit-transition: all 800ms ease-out;
	-moz-transition: all 800ms ease-out;
	-ms-transition: all 800ms ease-out;
	-o-transition: all 800ms ease-out;
	transition: all 800ms ease-out;
}

#github:hover {
	filter: invert(40%);
	-webkit-transition: all 1000ms ease-in;
	-moz-transition: all 1000ms ease-in;
	-ms-transition: all 1000ms ease-in;
	-o-transition: all 1000ms ease-in;
	transition: all 1000ms ease-in;
}

.sec {
	text-align: center;
	margin-top:1%;
}

.colorSec {
	background-color: #cccccc;
}

.sec h1 {
	font-size: 200%;
	margin-bottom:3%;
}

.secAbout {
	font-size: 120%;
	line-height: 200%;
	width:auto;
	padding:4%;
	padding-left: 8%;
	padding-right: 8%;
}

#calendar {
	padding:2.5%;
}

#grupo {
	font-size: 140%;
	text-decoration: none;
	color: inherit;
}

#top {
	display: none;
}

.itemOp {
	color:white;
	font-weight: bold;
	letter-spacing: 1px;
	float:right;
	font-size: 140%;
	text-decoration: none;
	margin-top: 1.2%;
	margin-right:2.5%;
}

@media screen and (max-width: 800px) {
    #calendar, nav {
			display: none;
		}

		#mainLogo {
			width: 90%;
		}

		.secAbout {
			margin:0%;
			font-size:80%;
		}

		footer {
			font-size: 80%;
		}

		#top {
				position: fixed;
				display: block;
			  z-index: 99999999;
		}

		#top img {
				margin-top: 10%;
				margin-left: 10%;
				width:70%;
		}
}
